@media (max-width: 768px) {
    .hero h1 {
        font-size: 12px; 
    }

    .hero .buttons {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 15px;
    }

    .navbar-nav {
        flex-direction: column;
        gap: 2px; 
    }

   
    .carousel-item {
        flex-direction: column; 
    }

    footer .col-lg-4 {
        text-align: center; 
    }

    
    
}



body{
    background-color: #000000;
    color: #C9A227;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 20px;
    
}

.nav-link {
    color: #C9A227;
    
}

.navbar-toggler {
    margin-left: auto;
}


.nav-link.active {
    color: #C9A227 !important;
}


.navbar-nav{
    justify-content: space-between;
    flex-direction: column; 
    align-items: center;
    gap: 50px
}


hero {
    position: relative;
    width: 50%;
    height: auto;
}

.hero {
    position: relative;
    width: 100%;
    height: 500px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    text-align: center; 
}

.hero img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.hero h1 {
    font-size: clamp(2rem, 5vw, 4rem); 
    text-align: center;
    position: absolute; 
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #F5F5F5; 
    text-shadow: 5px 3px 5px #000; 
    text-align: center;
    
}


.hero .buttons {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    z-index: 1;
    margin-top: 100px;
}

.btn-secondary,
.btn-light {
    padding: 10px 20px;
    font-size: clamp(0.8rem, 2vw, 1rem);
    border-radius: 5px;
    text-align: center;
    width: auto;
}


/* Botones index */

.btn-secondary{
    border: 2px solid #C9A227;
    background-color: #000000;
    font-weight: bold;

}

.btn-light{
    border: 2px solid #C9A227;
    color: #000000;
    font-weight: bold;

}

/* Carrousel */

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0; 
    padding-top: 20px; 
    width: 100%; 
    position: relative;
}

.carousel {
    width: 100%;
    
}


.icon-container {
    width: 80px;
    height: 80px;
    border: 2px solid #C9A227;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    color: #C9A227;
    font-size: 2rem;
}

.carousel-item p {
    color: #F5F5F5;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 300px;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #C9A227;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Footer */

footer {
    position: relative; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center; 
    background-color: #000; 
    color: #C9A227; 
    text-align: center;
    padding: 20px 40px; 
    width: 100%; 
    box-sizing: border-box; 
}

footer .col-lg-4 {
    flex: 1;
    text-align: center; 
    padding: 10px; 
}


.container{
    color: #C9A227;
}

/* Cards */

/* Contenedor de las tarjetas */
.row {
    display: flex; 
    justify-content: center; 
    align-items: stretch; 
    flex-wrap: wrap; 
    gap: 20px; 
}

/* Tarjetas */

.card {
    border: #C9A227 2px solid;
    background-color: #000000;
    color: #F5F5F5;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    max-width: 300px;
    transition: transform 0.8s ease, box-shadow 0.3s ease; 
}

.card:hover {
    transform: scale(1.10); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
}

.card-title{
    font-size: 1 rem;
    font-weight: bold;
    color: #C9A227; 
    margin-bottom: 10px; 
}


/* Imagen de las tarjetas */
.card-img-top {
    height: 200px;
    object-fit: cover; 
}

/* Contenido de las tarjetas */
.card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
}


/* Botón de las tarjetas */

.btn-primary{
    background-color: #C9A227;
    border: #C9A227 2px solid;
    transition: all 0.5s ease;

}

.btn-primary:hover{
    background-color: #000000;
    color: #C9A227;
    border: #C9A227 2px solid;
    transition: all 2s ease;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #000000;
    color: #C9A227;
    border: #C9A227 2px solid;
    transition: all 0.3s ease; 
}


.btn-submit {
    background-color: #C9A227;
    width: 25%;
    border: #C9A227 2px solid;
    transition: all 0.5s ease;
    margin-bottom: 30px;
}

